body {
  padding: 0;
  margin: 0;
  background: darkcyan;
}

.Navbar {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
width: 100vw;
height: 50px ;
display:flex;
flex-direction: row;
list-style: none;
justify-content: space-between;
background-color: #444;
text-align: center;
padding: 0;
margin: 0;
overflow: hidden;
position: fixed;
top: 0;
align-items: center;
box-shadow: 0px 10px 25px -10px black;
}

.StudioHome{
  font-family: 'Aguafina Script', cursive;
  font-size: xx-large;
  width: 37vw;
  display: block;
  ;

}
.Navbar a {
  text-decoration: none;
  color: #fff;
  display:block;
  transition: .3s background-color;
}
.Navbar a:hover {
  background-color: #005f5f;
}

.nav {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60vw;
}
 
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 10;
  margin: 10;
  display:flex ;
  justify-content: space-around;
}
.nav li {
  font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display:block;
  transition: .3s background-color;
  width: 20vw;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.Navbar a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
  text-decoration: none;
}

.Main {
  margin-top: 35px;
}
 
.pagecontent {
  font-family: 'Roboto Slab', serif;
  background-color: azure;
  width: 95vw;
  box-shadow: 0px 10px 25px -10px black;
  display:block;
  margin: auto;
  padding: 10px;
border-radius: 20px;
  text-align: center;


}

.pagecontent li {
  margin:auto;
  background-color: white;
  padding: 15px;
  box-shadow: 0px 10px 25px -10px black;
  display:block;
  border-radius: 15px;
  text-align: left;

}

.backbutton ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: auto;
  display:block ;
  border-radius: 15px;
}
.backbutton li {
  font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  border-radius: 15px;
}
 
.backbutton a {
  text-decoration: none;
  color: #fff;
  display:block;
  transition: .3s background-color;
  width: auto;
  border-radius: 15px;
}
 
.backbutton a:hover {
  background-color: #005f5f;
  border-radius: 15px;
}

.infobox {
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.contacticons {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 30px;
}

.contactcard {
  margin:auto;
  background-color: white;
  box-shadow: 0px 10px 25px -10px black;
  display:block;
  border-radius: 15px;
  text-align: center;
  width: 85vh;

}
.sketchfab-embed-wrapper {
  padding: 10px;
  margin: auto;
}

.imagebox{
display:flex;
justify-content: stretch;
align-content: stretch;
}
.welcome {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 10px 25px -10px black;
}
.welcome img{
  width:30vw;
  height:30vw;
  padding: 10px;
  border-radius: 10px;
}

.twocolumndiv {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.textblurb {
  padding:15px;
  margin: 15px;
}

.socialicons {
display:flex;
width: 50vw;
flex-direction: column; 
list-style: none;
background-color: #444;
justify-content: space-evenly;
text-align: center;
padding: 0;
margin: auto;
align-items: center;
box-shadow: 0px 10px 25px -10px black;
border-radius: 15px;
}

.socialicons ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 10;
  margin: auto;
  display:block ;
  border-radius: 15px;
}
.socialicons li {
  font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
  border-bottom: 1px solid #888;
  border-radius: 15px;
}
 
.socialicons a {
  text-decoration: none;
  color: #FFF;
  display:block;
  padding: 10px;
  transition: .3s background-color;
  width: auto;
  border-radius: 15px;
}
 
.socialicons a:hover {
  background-color: #005f5f;
  border-radius: 15px;
  padding: 10px;
  margin:0;
}

.sociallinks {
font-family: 'Roboto Slab', serif;
background-color:azure;
box-shadow: 0px 10px 25px -10px black;
display:block;
width: 52vw;
margin: auto;
padding: 10px;
border-radius: 20px;
text-align: center;
}